doctype
html(amp, lang="en")
  head
    meta(charset="utf-8")
    script(async, src="https://cdn.ampproject.org/v0.js")
    script(async, custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
    script(async, custom-element="amp-list", src="https://cdn.ampproject.org/v0/amp-list-0.1.js")
    script(async, custom-element="amp-mustache", src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js")
    title 11 11 Sale 
    link(rel="canonical", href="/index.html")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700", rel="stylesheet")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    | 
    |<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    style(amp-custom)
      include assets/css/bootstrap.min.css
      include assets/css/main.min.css
  body
    amp-analytics(config="https://www.googletagmanager.com/amp.json?id=GTM-KZ7RK6R&amp;gtm.url=SOURCE_URL", data-credentials="include", aria-hidden="true")
    #courtesies-banner
      ul.wrapper
        li
          |<a href="/" class="coutesies-link"> <i class="icon icon-gray-product" title="iPrice Products"></i> Products </a>
        li
          |<a href="/coupons" class="coutesies-link"> <i class="icon icon-gray-coupon" title="iPrice Coupons"></i> Coupons </a>
        li
          |<a href="/trends" class="coutesies-link"> <i class="icon icon-gray-trend" title="iPrice Trends"></i> Trends </a>
    #header
      #banner
        .wrapper.flex
          a.logo(href="/")
          span.motto Search, Compare & Save
          form.relative.flex.flex-1.flex-column.align-items-end(action="https://iprice.my/search", method="GET", target="_top", novalidate)
            input(type="text", name="term", id="term", role="search", autocomplete="off", value, placeholder="Search for products, coupons or brands...")
            button.absolute(type="submit")
              i.icon.icon-search-blue
    #main-content.width-100
      include views/on_sale
    footer#footer
        section#links
          .wrapper.cs-wrapper
            .wrapper.m-3-col
              .international
                h3 International
                ul
                  li
                    |<a href="https://iprice.sg" class="singapore"> <i class="icon icon-singapore" title="iPrice Singapore"></i> Singapore </a>
                  li
                    |<a href="https://iprice.co.id" class="indonesia"> <i class="icon icon-indonesia" title="iPrice Indonesia"></i> Indonesia </a>
                  li
                    |<a href="https://iprice.ph" class="philippines"> <i class="icon icon-philippines" title="iPrice Philippines"></i> Philippines </a>
                  li
                    |<a href="https://iprice.hk" class="hong-kong"> <i class="icon icon-hong-kong" title="iPrice Hong Kong"></i> Hong Kong </a>
                  li
                    |<a href="https://ipricethailand.com" class="thailand"> <i class="icon icon-thailand" title="iPrice Thailand"></i> Thailand </a>
                  li
                    |<a href="https://iprice.vn" class="vietnam"> <i class="icon icon-vietnam" title="iPrice Vietnam"></i> Vietnam </a>
              .ipricegroup
                h3 iPrice group
                ul
                  li
                    a(href="http://ipricegroup.com/", target="_blank" rel="noopener") About Us
                  li
                    a(href="https://iprice.my/trends/") Trends
                  li
                    a(href="http://ipricegroup.com/contact.html", target="_blank" rel="noopener") Contact Us
                  li
                    a(href="http://ipricegroup.com/career.html", target="_blank" rel="noopener") Career
                  li
                    a(href="http://ipricegroup.com/partner.html", target="_blank" rel="noopener") Partners
                  li
                    a(href="https://iprice.my/privacy-policy/") Privacy Policy
                  li
                    a(href="https://iprice.my/terms-of-use/") Terms of Use
                  li
                    a(href="https://iprice.my/iema/") iEMA
              .social
                h3 Social
                ul
                  li
                    |<a href="https://www.facebook.com/ipriceMalaysia" target="_blank" rel="noopener"> <i class="icon icon-facebook"></i>Facebook </a>
                  li
                    |<a href="https://www.pinterest.com/ipricemy" target="_blank" rel="noopener"> <i class="icon icon-pinterest"></i>Pinterest </a>
                  li
                    |<a href="https://twitter.com/iPriceMY" target="_blank" rel="noopener"> <i class="icon icon-twitter"></i>Twitter </a>
                  li
                    |<a href="http://plus.google.com/+Ipricegroup/about" target="_blank" rel="noopener"> <i class="icon icon-google-plus"></i>Google+ </a>

        section#disclaimer
          .flex.wrapper.en-my
            .flex.flex-1.flex-column
              small &copy; 2017 iPrice Group Sdn Bhd (1113954 - D). All rights reserved.
              p The prices stated may have increased since the last update. Unfortunately it is not possible for us to update the prices on our website in real-time. Should a shop not offer prices in your local currency, we may calculate the displayed price on daily updated exchange rates.