#wording-eleven
	.content-block.row
		.tagline.col-md-3
			h3 11/11 Sale
		.tagline-content.col-md-9
			p Get ready to do all your year’s shopping starting from 1st November 2017. Known as Singles’ Day, 11-11 is a day created for those who would rather shop online than do anything else. The sale starts on 1st November and goes on until 13rd November! Thanks to the amazing discounts from the best merchants in Malaysia, you get rebates and huge promotions on all your favourite items and services. 
#brand-list
	.brand-list.row.content-block
		amp-list(width="auto", height="260", layout="responsive", src="https://api.myjson.com/bins/x317h")
			template(type="amp-mustache")
				.brand-item.col-md-4
					a
						amp-img(srcset="{{url}}", width="360", title="{{title}}",height="260", layout="responsive")
		




