#countdown.width-100
  .countdown-timer
    h2.slideInDown 11/11 Sale
    amp-iframe(width="560", height="240", src="https://bilhasry-iprice.github.io/countdowntimer/", sandbox="allow-scripts allow-same-origin", layout="responsive")
      amp-img(srcset="assets/img/transparent.png", width="1369", height="457", layout="fill", placeholder)
    h3.slideInDown The biggest sale of the year is coming soon!
#subscribe-form
  .subscribe-form-content.row
    .col-md-6.big-highlight
      amp-img(width="547", height="420", layout="responsive", src="assets/img/banner-90.jpg")
    .col-md-6.subscribe-now
      h4 Get ready for the 11/11 Sale. Don't miss out on the best deals and coupons. Subscribe below!
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action-xhr="//iprice.us8.list-manage.com/subscribe/post?u=324d1f42da403cc125e4ac5e1&amp;id=96b4b265a7", method="POST",name="mc-embedded-subscribe-form",target="_blank" , novalidate)
          #mc_embed_signup_scroll
            input#mce-EMAIL.email(type="email", name="EMAIL", placeholder="your.email.address@email.com", required)
            div.hidden(aria-hidden="true")
              input(type="text",name="b_324d1f42da403cc125e4ac5e1_96b4b265a7" ,tabindex="-1")
            div.clear
              input#mc-embedded-subscribe.button(type="submit" value="Subscribe" name="subscribe")
#sup-section
  .heading-content.row
    .col-md-12
      h3 Shop till You Drop with the 11/11 Sale!
      p  Ge t ready to do all your year's shopping starting from 1st November 2017. Known as Singles' Day, 11-11 is a day created for those who would rather shop online than do anything else. The sale starts on 1st November and goes on until 13rd November! Thanks to the amazing discounts from the best merchants in Malaysia, you get rebates and huge promotions on all your favourite items and services.
  .sup-content.row
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-variety.icon-sup-item
        h4 Shop More
        p iPrice Malaysia is home to a large variety of online shopping; integrating over one thousand different online shops that carry a combined total of over 100 million products.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-safety.icon-sup-item
        h4 Secured Shopping
        p You can shop with confidence on iPrice as we only have high quality online shops, including the big names such as Lazada and Zalora. So don't worry and enjoy shopping.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-savings.icon-sup-item
        h4 Save More
        p Shopping online with iPrice Malaysia puts all the products from your favourite online shops in one place. You can also save more with iPrice coupons!